.menu {
  background-color: var(--primary);
}

.objectifsSport {
  color: var(--secondary);
}

.btnPage {
  background-color: var(--secondary);
}
.btnPage:hover {
  background-color: var(--secondary);
  color: black;
}
